/* You can add global styles to this file, and also import other style files */

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  color: black;
}

body {
background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252, 70, 106, 0.708) 76%);
}
